<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>local.satellite.stop-noaa19-0515-1604</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/usr/bin/pkill</string>
		<string>-f</string>
		<string>rtl_fm</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Day</key>
		<integer>15</integer>
		<key>Hour</key>
		<integer>16</integer>
		<key>Minute</key>
		<integer>4</integer>
		<key>Month</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
